<div class="box box-solid marginTop">
  <div class="box-header">
    <i class="fa fa-shopping-cart"></i>
    <h3 class="box-title">Números Selecionados</h3>
  </div>
  <div class="box-body">
    <div *ngIf="!items().length">
      <p class="text-center">Nenhum número selecionado!</p>
    </div>
    <div class="table-responsive" *ngIf="items().length">
      <table class="table">
        <tbody>
          <tr *ngFor="let item of items()" [@row]="rowState">
            <th>({{ item.quantity }}) {{ item.rifaItem.filme }}</th>
            <td class="text-right">
              <a (click)="removeItem(item)" class="btn btn-sm danger"
                ><i class="fa fa-remove"></i
              ></a>
            </td>
          </tr>
          <tr>
            <th>Total:</th>
            <td class="text-right">{{ total() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-footer" *ngIf="items().length">
    <div class="pull-right">
      <!-- <button (click)="clear()" type="button" class="btn btn-danger" style="margin-right: 5px;"><i class="fa fa-trash"></i> Limpar</button> -->
      <a
        (click)="comprar()"
        class="btn btn-success"
        style="margin-right: 5px"
        ><i class="fa fa-credit-card"></i> Finalizar</a
      >
    </div>
  </div>
</div>
<div>
  <br />
  <br />
  <br />
</div>
