<div style="margin-left: 15px; margin-top: 4px;">
  <mat-card style="text-align: center; font-weight: bold;">SELECIONE SEUS NÚMEROS DA SORTE</mat-card>
</div>

<div class="col-md-9 col-xs-12">
  <section class="content">
      <div class="rifa-container mat-elevation-z8">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-hover">
          <!-- Checkbox Column -->
        
          <!-- Position Column -->
          <ng-container  matColumnDef="numero">
            <th style="min-width: 50px !important;" mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="price">
            <th style="min-width: 70px !important;" mat-header-cell *matHeaderCellDef>Preço</th>
            <td mat-cell *matCellDef="let element">{{ element.price | currency: "BRL":true }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="filme">
            <th style="min-width: 100px !important;" mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let element">{{ element.filme }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>E-mail</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="!row.email && (email || usuario.user_email) ? rifaCart.addItem(row) : ''"
            (click)="isAllSelected1(row)"
          ></tr>
        </table>
      </div>
  </section>
</div>
<div class="row">
    <div class="col-md-3 col-xs-12">
      <app-rifas-cart #rifaCart></app-rifas-cart>
    </div>
  </div>