<section class="content-header">
  <h2>Selecione seus números da sorte</h2>
  <h1>O sorteio será as 22:00hrs | {{ time | date: "HH:mm:ss" }}</h1>
</section>

<div class="col-md-9 col-xs-12" style="background-color: white">
  <section class="content">
    <div class="row">
      <p class="lead text-center"></p>
      <div class="table-responsive dash-table-container">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Número</th>
              <th>Preço</th>
              <th>Filme</th>
              <th>Email</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let rifa of users; let i = index"
              (click)="
                !rifa.email && usuario.email ? rifaCart.addItem(rifa) : ''
              "
              (click)="selectUsers($event, rifa)"
              [class.selected]="rifa.flag === true"
            >
              <td>{{ rifa.numero }}</td>
              <td>{{ rifa.price | currency: "BRL":true }}</td>
              <td>{{ rifa.filme }}</td>
              <td>{{ rifa.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
<div class="row">
  <div class="col-md-3 col-xs-12">
    <app-rifas-cart #rifaCart></app-rifas-cart>
  </div>
</div>
