<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Selecione seus números da sorte
  </h1>

  <!-- barra de busca-->
  <div class="row">
    
  </div>
</section>

<section class="content">
  <div class="row">
    <p class="lead text-center">

      <div class="dash-table-container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                Número
              </th>
              <th>
                Filme
              </th>
              <th>
               Email
              </th>
             
          </thead>
          <tbody>
            <tr *ngFor="let u of users; let i=index;" (click)="selectUsers($event, u);" [class.selected]="u.flag === true">
              <td>{{u.numero}}</td>
              <td>{{u.filme}}</td>
              <td>{{u.email}}</td>
            </tr> 
          </tbody>
        </table>
      </div>


    
  </div>
</section>

<!-- FIM  do CONTEÚDO -->
