<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Selecione seus números da sorte
  </h1>

  <!-- barra de busca-->
  <div class="row">
    
  </div>
</section>

<section class="content">
  <div class="row">
    <p class="lead text-center">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Número</th>
            <th>Nome</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Moe</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Dooley</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
  </div>
</section>

<!-- FIM  do CONTEÚDO -->
